<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{{root}}css/style.css">
</head>
<body>

{{!-- Header you create in the assets/html/partials/ folder are inserted here when the flattened page is created. --}}
{{> header}}

{{!-- Pages you create in the assets/html/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

{{!-- Footer you create in the assets/html/partials/ folder are inserted here when the flattened page is created. --}}
{{> footer}}

<script src="{{root}}js/app.js"></script>
</body>
</html>
